- Actually a `sequence`.
- Used to store characters

# **Table of Contents**
* [Creating](#section_1)
* [List to string](#section_2)
* [Properties](#section_3)
* [Indexing](#section_4)
* [Functions](#section_5)

<a id='section_1'></a>
# 1. **Creating**

In [1]:
'hello world'

'hello world'

In [2]:
"hello world"

'hello world'

In [3]:
"Hello I'm Debesh"

"Hello I'm Debesh"

In [4]:
print ('Hello 1 \n Hello 2')

Hello 1
 Hello 2

<a id='section_2'></a>
# 2. **List to string**

In [5]:
ls = ['a','b','c']

In [6]:
s = ''

for i in ls:
     s = s + i

print(s)

abc

In [7]:
''.join(ls)

'abc'

In [8]:
' '.join(ls)                                # whatever specified within quotes , is represented in output

'a b c'

<a id='section_3'></a>
# 3. **Properties**

In [9]:
s = 'Hello world'

s [0]  =  'x'                 # error

In [10]:
s + 'hi'

'Hello worldhi'

In [11]:
s*3

'Hello worldHello worldHello world'

<a id='section_4'></a>
# 4. **Indexing**

In [12]:
s [0]

'H'

In [13]:
s [1:]

'ello world'

In [14]:
s [:3]

'Hel'

In [15]:
s  [ : len(s)]

'Hello world'

In [16]:
s  [:]

'Hello world'

In [17]:
s [-1]

'd'

In [18]:
s [ : -1]                                  # fecth all except last letter

'Hello worl'

In [19]:
s [::-1]

'dlrow olleH'

In [20]:
s [1:5:2]

'el'

In [21]:
s [::]

'Hello world'

In [22]:
s [::1]

'Hello world'

In [23]:
s [::2]

'Hlowrd'

---

In [24]:
s  [:] [5]               #  [select]   [fetch]

' '

<a id='section_5'></a>
# 5. **Functions**

In [25]:
len (s)

11

In [26]:
s.upper()

'HELLO WORLD'

In [27]:
s.lower()

'hello world'

In [28]:
s.split()

['Hello', 'world']

In [29]:
s.split(' ')                      # whatever relevant character is specified within quotes , it considers that

['Hello', 'world']

In [30]:
s.replace ('e','a')

'Hallo world'

In [31]:
s.title()

'Hello World'

In [32]:
s.startswith ("H")  
s.endswith   ("d")

True

In [33]:
s.find ('W')                                       # only finds the 1st occurence

-1

In [34]:
s.find ('Wo')

-1

In [35]:
'p' in s

False

In [36]:
'r' in s

True

In [37]:
s.count('l')

3

In [38]:
s = "  Hello world  "

print ( s.strip()   )                       # both sides
print ( s.lstrip()  )                       # left side
print ( s.rstrip()  )                       # right side

Hello world
Hello world
  Hello world

In [39]:
chr (65)

'A'

In [40]:
ord ('A')

65