# `List`

* Most general version of a `sequence` in Python. 
* Unlike string , they are mutable .

# **Table of Contents**
* [Properties](#section_1)
* [Functions Part 1](#section_2)
* [Functions Part 2](#section_3)
* [Indexing / Slicing](#section_4)
* [Nesting](#section_5)
* [List Comprehension](#section_6)
* [Join](#section_7)

In [1]:
g  =  [ 1, 1.5 , 'a' , True ]

<a id='section_1'></a>
# 1. **Properties**

In [2]:
g * 2                                       # repetition

[1, 1.5, 'a', True, 1, 1.5, 'a', True]

In [3]:
g + ['hello']

[1, 1.5, 'a', True, 'hello']

In [4]:
g + g                                      # concatenation

[1, 1.5, 'a', True, 1, 1.5, 'a', True]

In [5]:
'a' in g                                    # member

True

In [6]:
for i in g:                                 # iteration
    print(i)

1
1.5
a
True

In [7]:
s = 'abcd'                                   # type casting

list(s)

['a', 'b', 'c', 'd']

<a id='section_2'></a>
# 2. **Functions Part 1**

In [8]:
g = [10,20,30]
h = ['a','b','c']

In [9]:
len (g)

3

In [10]:
max (g)

30

In [11]:
max (h)

'c'

In [12]:
min (g)

10

In [13]:
min (h)

'a'

In [14]:
del g[0]                     # permanent change

g

[20, 30]

<a id='section_3'></a>
# 3. **Functions  Part 2**

In [15]:
g  =  [ 1 , 1.5, 'a' , True ]

---

In [16]:
g.append ('a')
g

[1, 1.5, 'a', True, 'a']

In [17]:
g.count('a')

2

In [18]:
g.index (1.5)

1

In [19]:
g.append (100)
g

[1, 1.5, 'a', True, 'a', 100]

In [20]:
g.append (100*2)
g

[1, 1.5, 'a', True, 'a', 100, 200]

In [21]:
g.insert (3,'b')
g

[1, 1.5, 'a', 'b', True, 'a', 100, 200]

In [22]:
g.extend ( [10,False,'b'] )               # elements to be added , are put in a list
g

[1, 1.5, 'a', 'b', True, 'a', 100, 200, 10, False, 'b']

In [23]:
g.reverse()
g

['b', False, 10, 200, 100, 'a', True, 'b', 'a', 1.5, 1]

In [24]:
list ( reversed (g) )

[1, 1.5, 'a', 'b', True, 'a', 100, 200, 10, False, 'b']

In [25]:
z = g.copy()
z

['b', False, 10, 200, 100, 'a', True, 'b', 'a', 1.5, 1]

In [26]:
g.pop()
g

['b', False, 10, 200, 100, 'a', True, 'b', 'a', 1.5]

In [27]:
g.pop(2)
g

['b', False, 200, 100, 'a', True, 'b', 'a', 1.5]

In [28]:
g.remove ('b')
g

[False, 200, 100, 'a', True, 'b', 'a', 1.5]

In [29]:
g.clear()
g

[]

### Sort / Sorted

In [30]:
g  =  [ 20, 30, 10 ]

g.sort()
g

[10, 20, 30]

In [31]:
g = ['b','c','a']

g.sort (reverse=True)
g

['c', 'b', 'a']

In [32]:
g  =  [ 20, 30, 10 ]

sorted (g , reverse=True)

[30, 20, 10]

### Shuffle

In [34]:
ls = [1,2,3,4,5]

import numpy as np
np.random.shuffle (ls)
ls

[5, 4, 2, 1, 3]

<a id='section_4'></a>
# 4. **Indexing / Slicing**

In [35]:
g = ['a','b','c','d','e','f']

In [36]:
g [0]

'a'

In [37]:
g [1:]

['b', 'c', 'd', 'e', 'f']

In [38]:
g [1:4:2]

['b', 'd']

<a id='section_5'></a>
# 5. **Nesting**

In [39]:
a = [1,2,3]
b = [40,50,60]
c = [700,800,900]

g = [a,b,c]
g

[[1, 2, 3], [40, 50, 60], [700, 800, 900]]

In [40]:
g [0]

[1, 2, 3]

In [41]:
g [0] [0]

1

In [42]:
lc  =  [ x[0]    for x in g ]                   # list Comprehension
lc

[1, 40, 700]

<a id='section_6'></a>
# 6. **List Comprehension**

## Usefulness

In [43]:
ls = []

for i in range(6):
    if i%2==0 :
        ls.append(i*i)

ls

[0, 4, 16]

In [44]:
ls  =  [ i*i    for i in range(6)    if i%2==0   ]                              #  for-if
ls

[0, 4, 16]

In [45]:
op  =  [ i    for i in range(10)      if i%2 ==0 and i%4 ==0 ]                   #  for-if
op

[0, 4, 8]

In [46]:
ls  =  [1,2,3,4,5]

op  =  [  i   if i%2==0    else i*10    for i in ls  ]                       #  if-else-for
op

[10, 2, 30, 4, 50]

In [47]:
# Convert Celsius to Fahrenheit

celsius    =  [0,10,20.1,34.5]

fahrenheit =  [  ((9/5)*i + 32)      for i in celsius    ]

fahrenheit

[32.0, 50.0, 68.18, 94.1]

* With `nested list`

In [48]:
ls    =   [  x**2       for x in  [ x**2    for x in range(6) ]     ]
ls

[0, 1, 16, 81, 256, 625]

## With other data types

`String`

In [49]:
ls  =  [1,2,3,4,5]

op  =  [ str(i)   for i in ls ]
op

['1', '2', '3', '4', '5']

In [50]:
ls  =  ['a', 'b', 'c', 'd']

op  =  [ i.upper()   for i in ls ]
op

['A', 'B', 'C', 'D']

`Tuple`

In [51]:
ls1  =  [1,2]
ls2  =  [10,20]

op   =  [ (i,j)   for i in ls1   for j in ls2 ]
op

[(1, 10), (1, 20), (2, 10), (2, 20)]

In [52]:
ls  =  ['a','b','c','d','e']

op  =  [ (i,j)    for (i,j) in enumerate(ls)   ]                  # gets index of each element in list
op

[(0, 'a'), (1, 'b'), (2, 'c'), (3, 'd'), (4, 'e')]

In [53]:
s  =  ['abcde']

op  =  [ (i,j)    for (i,j) in enumerate(s)   ]                  # gets index of each element in list
op

[(0, 'abcde')]

<a id='section_7'></a>
# 7. **Join**

In [54]:
ls  =  ['a','b','c']


s  =  "\n".join (ls)                # combines the comma-separated elements

print(s)

a
b
c