## Sets

`Ordered` collection of `unique` elements.

# **Table of Contents**
* [Basic](#section_1)
* [Math Operations](#section_2)
* [Functions](#section_3)

<a id='section_1'></a>
# 1. **Basic**

In [1]:
x = set()

In [2]:
x.add(1)
x

{1}

In [3]:
x.add(1)
x

{1}

In [4]:
ls  =  [1,1, 3,3, 2,2, 5,5, 4,4, 7,7, 6,6]

set(ls)                                                                 # always ascending order

{1, 2, 3, 4, 5, 6, 7}

In [5]:
ls  =  ["apple","orange","apple"]

set(ls)

{'apple', 'orange'}

In [6]:
a  =  set ('Moon1@^')
a

{'1', '@', 'M', '^', 'n', 'o'}

<a id='section_2'></a>
# 2. **Math Operations**

In [7]:
A  =  {0, 2, 4, 6, 8,7,8,5,7,8}
B  =  {1, 2, 3, 4, 5,7,5,8}

     * Union 
     * Intersection
     * Difference
     * Symmetric difference

In [8]:
A | B                                      # Union

{0, 1, 2, 3, 4, 5, 6, 7, 8}

In [9]:
A & B                                      # Intersection

{2, 4, 5, 7, 8}

In [10]:
A - B                                      # Difference

{0, 6}

In [11]:
A ^ B                                      # Symmetric Difference         # remove common

{0, 1, 3, 6}

<a id='section_3'></a>
# 3. **Functions**

In [12]:
s = {"apple", "apple", "grapes", "grapes", "cherry" }
s

{'apple', 'cherry', 'grapes'}

In [13]:
s.add ('mango')
s

{'apple', 'cherry', 'grapes', 'mango'}

In [14]:
s.remove ('grapes')
s

{'apple', 'cherry', 'mango'}