# **Table of Contents**
* [Import](#section_1)
* [Input](#section_2)
* [Iter](#section_3)
* [Enumerate](#section_4)
* [Zip](#section_5)
* [Break , Continue , Pass](#section_6)

<a id='section_1'></a>
# 1. **Import**

In [1]:
import math
math.sqrt(25)

5.0

In [2]:
import math as m                     # alias 
m.sqrt(25)

5.0

In [3]:
from math      import sqrt

sqrt(25)

5.0

In [4]:
from numpy.random  import randint

randint (1,101,10)

array([ 33,  68,  83,  65,  71,   9,  11,  83,   7, 100])

<a id='section_2'></a>
# 2. **Input**

In [6]:
a = input()

b = int(input())

c = float(input())

print ( type(a) , type(b) , type(c) )

 hi
 34
 12.34

<class 'str'> <class 'int'> <class 'float'>

In [7]:
a = int (input("Num 1"))
b = int (input("Num 2"))

print(a+b)

Num 1 5
Num 2 6

11

<a id='section_3'></a>
# 3. **Iter**

In [8]:
x = iter ( ["apple", "banana", "cherry"] )

print (next(x))
print (next(x))
print (next(x))

apple
banana
cherry

<a id='section_4'></a>
# 4. **Enumerate**

In [9]:
list ( enumerate('abc') )

[(0, 'a'), (1, 'b'), (2, 'c')]

In [10]:
for i,j in enumerate('abc'):
    print(i,j)

0 a
1 b
2 c

<a id='section_5'></a>
# 5. **Zip**

In [11]:
a = [1,2,3]
b = ['a','b','c']

list ( zip(a,b) )

[(1, 'a'), (2, 'b'), (3, 'c')]

In [12]:
for  i,j  in  zip(a,b):
    
    print(i,j)

1 a
2 b
3 c

<a id='section_6'></a>
# 6. **Break , Continue , Pass**

| Name | Function |
| ---    | ---    |
| Break  | Goes out of loop  |         
| Continue | Skips below , resumes next iteration |
| Pass | Does nothing |

* All of them are used inside the loop

## Break

In [13]:
for i in range(6):
    
    if i == 3:
        break
    
    print(i)

0
1
2

## Continue

In [14]:
for i in range(6):
    
    if i == 3:
        continue
    
    print(i)

0
1
2
4
5

## Pass

In [15]:
for i in range(6):
    
    if i == 3:
        pass
    
    print(i)

0
1
2
3
4
5