# **Table of Contents**
* [Create](#section_1)
* [Access](#section_2)
* [Math Operations](#section_3)
* [Reindex](#section_4)
* [isin](#section_5)

In [1]:
import numpy   as np
import pandas  as pd

<a id='section_1'></a>
# 1. **Create**

In [2]:
s  =  pd.Series ( [3.14,'abc',True] )                                            # list
s

0    3.14
1     abc
2    True
dtype: object

In [3]:
s  =  pd.Series ( {'A':10,'B':20,'C':30} )                                        # dictionary
s

A    10
B    20
C    30
dtype: int64

In [4]:
l  =  list ('ABCDE')
n  =  np.arange(5)

d  =  dict (zip(l,n)) 

s  =  pd.Series(d)
s

A    0
B    1
C    2
D    3
E    4
dtype: int64

In [5]:
s  =  pd.Series ( np.array([10,20,30]) )                                          # array
s

0    10
1    20
2    30
dtype: int32

In [6]:
s  =  pd.Series ( [3.14,'abc',True] , index=['A','B','C'] )
s

A    3.14
B     abc
C    True
dtype: object

In [7]:
s.index

Index(['A', 'B', 'C'], dtype='object')

In [8]:
s.values

array([3.14, 'abc', True], dtype=object)

<a id='section_2'></a>
# 2. **Access**

### **By index**

In [9]:
print ( s[0]   )
print ( s['A'] )

3.14
3.14

In [10]:
print ( s[[1,2]]     )
print ( s[['B','C']] )

B     abc
C    True
dtype: object
B     abc
C    True
dtype: object

In [11]:
s [1:3]

B     abc
C    True
dtype: object

Logic

### **By condition**

In [12]:
s = pd.Series ( [10,20,30,10] , index=['A','B','C','D'] )
s

A    10
B    20
C    30
D    10
dtype: int64

In [13]:
s [s < 25]

A    10
B    20
D    10
dtype: int64

In [14]:
s [s == 30]

C    30
dtype: int64

<a id='section_3'></a>
# 3. **Math Operations**

In [15]:
s + 10

A    20
B    30
C    40
D    20
dtype: int64

In [16]:
s ** 2

A    100
B    400
C    900
D    100
dtype: int64

In [17]:
s + s

A    20
B    40
C    60
D    20
dtype: int64

In [18]:
s.mean()

17.5

In [19]:
s.median()

15.0

In [20]:
s.mode()

0    10
dtype: int64

* Note 
    - Median , Mode not present in array .... but present in series

<a id='section_4'></a>
# 4. **Reindex**

In [21]:
s = pd.Series ( ['India','Bhutan','Nepal'] , index=[1,4,7] )
s

1     India
4    Bhutan
7     Nepal
dtype: object

In [22]:
s.reindex ( range(10) )

0       NaN
1     India
2       NaN
3       NaN
4    Bhutan
5       NaN
6       NaN
7     Nepal
8       NaN
9       NaN
dtype: object

In [23]:
s.reindex ( range(10) , fill_value='US' )

0        US
1     India
2        US
3        US
4    Bhutan
5        US
6        US
7     Nepal
8        US
9        US
dtype: object

In [24]:
s.reindex ( range(10) , method='ffill' )

0       NaN
1     India
2     India
3     India
4    Bhutan
5    Bhutan
6    Bhutan
7     Nepal
8     Nepal
9     Nepal
dtype: object

In [25]:
s.reindex ( range(10) , method='bfill' )

0     India
1     India
2    Bhutan
3    Bhutan
4    Bhutan
5     Nepal
6     Nepal
7     Nepal
8       NaN
9       NaN
dtype: object

In [26]:
s.reindex ( range(10) , method='nearest' )

0     India
1     India
2     India
3    Bhutan
4    Bhutan
5    Bhutan
6     Nepal
7     Nepal
8     Nepal
9     Nepal
dtype: object

### **Reindex limitation**

In [27]:
s  =  pd.Series ( ['India','Bhutan',np.nan,'Nepal']  ,  index=[1,3,5,7] )
s

1     India
3    Bhutan
5       NaN
7     Nepal
dtype: object

In [28]:
s.reindex  ( range(10) , fill_value='US' )

0        US
1     India
2        US
3    Bhutan
4        US
5       NaN
6        US
7     Nepal
8        US
9        US
dtype: object

> Comments 
    
    * NaN still present

<a id='section_5'></a>
# 5. **isin**

In [29]:
s1  =  pd.Series ([1,2,3,4,5])
s2  =  pd.Series ([4,5,6,7,8])

In [30]:
s1 [ s1.isin(s2) ==True ]

3    4
4    5
dtype: int64

In [31]:
s1 [ s1.isin(s2) == False ]

0    1
1    2
2    3
dtype: int64